.banner {
  background-image: url(https://img.freepik.com/premium-vector/retro-background-futuristic-landscape-1980s-style-sea-digital-retro-landscape-cyber-surface-retro-music-album-cover-template-sun-space-mountains-80s-retro-scifi-background-summer-landscape_518816-3349.jpg);
  background-size: cover;
  border-radius: 20px;
  height: 300px;
}
